<?xml version="1.0"?>
<!--
/**
 * di.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/shippingfilters/LICENSE.txt
 *
 * @package       AuroraExtensions_ShippingFilters
 * @copyright     Copyright (C) 2020 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AuroraExtensions\ShippingFilters\Api\LocalityRepositoryInterface"
                type="AuroraExtensions\ShippingFilters\Model\Repository\LocalityRepository"/>
    <preference for="AuroraExtensions\ShippingFilters\Api\Data\LocalityInterface"
                type="AuroraExtensions\ShippingFilters\Model\Data\Locality"/>
    <preference for="AuroraExtensions\ShippingFilters\Api\Data\LocalitySearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>
    <preference for="AuroraExtensions\ShippingFilters\Api\PostalCodeRepositoryInterface"
                type="AuroraExtensions\ShippingFilters\Model\Repository\PostalCodeRepository"/>
    <preference for="AuroraExtensions\ShippingFilters\Api\Data\PostalCodeInterface"
                type="AuroraExtensions\ShippingFilters\Model\Data\PostalCode"/>
    <preference for="AuroraExtensions\ShippingFilters\Api\Data\PostalCodeSearchResultsInterface"
                type="Magento\Framework\Api\SearchResults"/>

    <preference for="AuroraExtensions\ShippingFilters\Csi\Filter\CountryFilterInterface"
                type="AuroraExtensions\ShippingFilters\Model\Filter\CountryFilter"/>
    <preference for="AuroraExtensions\ShippingFilters\Csi\Filter\RegionFilterInterface"
                type="AuroraExtensions\ShippingFilters\Model\Filter\RegionFilter"/>
    <preference for="AuroraExtensions\ShippingFilters\Csi\Filter\LocalityFilterInterface"
                type="AuroraExtensions\ShippingFilters\Model\Filter\LocalityFilter"/>
    <preference for="AuroraExtensions\ShippingFilters\Csi\Filter\PostalCodeFilterInterface"
                type="AuroraExtensions\ShippingFilters\Model\Filter\PostalCodeFilter"/>
    <preference for="AuroraExtensions\ShippingFilters\Csi\System\ModuleConfigInterface"
                type="AuroraExtensions\ShippingFilters\Model\System\ModuleConfig"/>

    <virtualType name="AuroraExtensions\ShippingFilters\Ui\Component\Listing\Column\Locality\Actions"
                 type="AuroraExtensions\ShippingFilters\Ui\Component\Listing\Column\Actions">
        <arguments>
            <argument name="paramKey" xsi:type="string">locality_id</argument>
        </arguments>
    </virtualType>

    <type name="AuroraExtensions\ShippingFilters\Csi\System\ModuleConfigInterface">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="custom_filters" xsi:type="array">
                    <item name="countries" xsi:type="array">
                        <item name="0" xsi:type="string">US</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Block\Checkout\DirectoryDataProcessor">
        <plugin name="shippingfilters_checkout_shipping_address_country_add_filter_shipping_country_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\Country\AddFilterShippingCountryDictionary"
                sortOrder="10"/>
        <plugin name="shippingfilters_checkout_shipping_address_region_add_filter_shipping_region_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\Region\AddFilterShippingRegionDictionary"
                sortOrder="20"/>
        <plugin name="shippingfilters_checkout_shipping_address_city_add_shipping_city_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\City\AddShippingCityDictionary"
                sortOrder="30"/>
        <plugin name="shippingfilters_checkout_shipping_address_postal_code_add_shipping_postal_code_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\PostalCode\AddShippingPostalCodeDictionary"
                sortOrder="40"/>
        <plugin name="shippingfilters_checkout_shipping_address_provider_add_custom_filters_config"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\Provider\AddCustomFiltersConfig"
                sortOrder="50"/>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="shippingfilters_checkout_shipping_address_country_set_filter_shipping_country_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\Country\SetFilterShippingCountryDictionary"
                sortOrder="10"/>
        <plugin name="shippingfilters_checkout_shipping_address_region_set_filter_shipping_region_dictionary"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\Region\SetFilterShippingRegionDictionary"
                sortOrder="20"/>
        <plugin name="shippingfilters_checkout_shipping_address_city_add_city_select_component"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\City\AddCitySelectComponent"
                sortOrder="30"/>
        <plugin name="shippingfilters_checkout_shipping_address_postal_code_add_postal_code_select_component"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\PostalCode\AddPostalCodeSelectComponent"
                sortOrder="40"/>
        <plugin name="shippingfilters_checkout_shipping_address_city_set_city_input_visibility"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\City\SetCityInputVisibility"
                sortOrder="50"/>
        <plugin name="shippingfilters_checkout_shipping_address_postal_code_set_postal_code_input_visibility"
                type="AuroraExtensions\ShippingFilters\Plugin\Checkout\PostalCode\SetPostalCodeInputVisibility"
                sortOrder="60"/>
    </type>
</config>
