<?xml version="1.0"?>
<!--
/**
 * system.xml
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License, which
 * is bundled with this package in the file LICENSE.txt.
 *
 * It is also available on the Internet at the following URL:
 * https://docs.auroraextensions.com/magento/extensions/2.x/shippingfilters/LICENSE.txt
 *
 * @package       AuroraExtensions_ShippingFilters
 * @copyright     Copyright (C) 2020 Aurora Extensions <support@auroraextensions.com>
 * @license       MIT License
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="auroraextensions" translate="label" sortOrder="1000">
            <label>Aurora Extensions</label>
        </tab>

        <section id="shippingfilters" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Shipping Filters</label>
            <tab>auroraextensions</tab>
            <resource>AuroraExtensions_ShippingFilters::configuration</resource>
            <!-- General Settings -->
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Shipping Filters</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <!-- Country Settings -->
            <group id="country" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Country Settings</label>
                <field id="whitelist" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Whitelist</label>
                    <comment>Whitelist of countries where shipments are permitted.</comment>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                </field>
            </group>
            <!-- Region Settings -->
            <group id="region" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Region Settings</label>
                <field id="whitelist" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region Whitelist</label>
                    <comment>Whitelist of regions where shipments are permitted.</comment>
                    <source_model>AuroraExtensions\ShippingFilters\Model\System\Config\Source\Region</source_model>
                </field>
            </group>
            <!-- Locality Settings -->
            <group id="locality" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Locality Settings</label>
                <field id="whitelist" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locality Whitelist</label>
                    <comment>Whitelist of localities (i.e. cities, towns, villages) where shipments are permitted.</comment>
                    <source_model>AuroraExtensions\ShippingFilters\Model\System\Config\Source\Locality</source_model>
                </field>
            </group>
            <!-- Postal Code Settings -->
            <group id="postal" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Postal Code Settings</label>
                <field id="whitelist" translate="label comment" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Postal Code Whitelist</label>
                    <comment>Whitelist of postal codes where shipments are permitted.</comment>
                    <source_model>AuroraExtensions\ShippingFilters\Model\System\Config\Source\PostalCode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
